@font-face {
    font-family: 'Roboto Mono NF';
    src: url('src/ttf/Roboto/Regular.ttf') format('truetype');
}

body {
    background-color: #2e3440;
    line-height: 1.6;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Roboto Mono NF';
    font-size: 45px;
    color: #D8DEE9;
    position: relative; top: 350px; left: 250px;
}

h3 {
    font-family: 'Roboto Mono NF';
    font-size: 15px;
    color:#D8DEE9;
    position: relative; top: 285px; left: 250px;
}

.container {
    width: 100%;
    height: 100%
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}